footer {
  background-color: rgb(2, 48, 71);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
  width: 100%;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  margin-right: 10px;
}
