.testimonios_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-items: center;
}

.cards_testimonios {
  width: clamp(15rem, 30vw, 24rem);
  height: clamp(12rem, 0, 14rem);
  background-color: white;
  margin: 1rem;
  padding: clamp(0.8rem, 1rem, 1.5rem);
  border-radius: 10px;
  font-family: var(--font-secondary);
  transition: transform 0.5s;
}

.cards_testimonios__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.stars {
  margin-bottom: 10px;
}

.stars span {
  color: gold;
}

.cards_testimonios:hover {
  transform: scale(1.1);
}

@media (min-width:768px) {
    .testimonios_container {
        grid-template-columns: repeat(2,1fr);
        gap:15px;
    }
}

@media (min-width:1300px) {
    .testimonios_container {
        grid-template-columns: repeat(3,1fr);
        gap:20px;
    }
}
