/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inika" sans-serif;
  --font-secondary: "Inria Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #000;
  --color-primary: #ffff;
  --color-secondary: #023047;
}
