@media (480px > width) {
  body {
    height: 200svh;
  }
  main {
    box-sizing: border-box;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 2rem;
    gap: 2rem;

    grid-template-areas:
      "a "
      "c "
      "e "
      "b"
      "f"
      "d";
  }

  section {
    transition: all 500ms ease-in-out;
  }
  section:not(:hover) {
    filter: blur(1px) grayscale(200%);
  }

  section:hover {
    filter: none;
  }
}
