main {
    height: 100svh;
}

main>div {

    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

main>div>div {
    display: grid;
    border: 1px solid #444;
    border-radius: 1rem;
    padding: 1rem;
    place-items: center;

    background-color: #444;
    filter: invert();
    transition: all 500ms ease-in-out;
}

main>div>div:hover {
    grid-column: span 2;
    opacity: 1;
    filter: none;
    color: aliceblue;

}