body{
    margin: 0;
    padding: 0;
    display: flex;
    
}



main  {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.vinoImage{
    height: 100px;
    aspect-ratio: 1;
    border-radius: 10px;
}