@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&display=swap");
@import url("./magicpatterns.css");
:root {
  --color-txt: white;
}

body {
  height: 200vh;
  width: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Assistant", sans-serif;
  color: var(--color-txt);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  padding: 4rem;
}

.item {
  border-radius: 10px;
  width: 100%;
}

.item > a > img {
  width: 100%;
  aspect-ratio: 16/9;
}

.border, .item > a > img {
  --s: 10px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 100%; /* width of the image */
  --c: #7b3b3b;

  width: var(--w);
  object-fit: cover;
  padding: var(--s);
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0,
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0,
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100%;
  background-size: 15% 15%;
  background-repeat: no-repeat;
  outline: calc(var(--w) / 2) solid #0009;
  outline-offset: calc(var(--w) / -2 - var(--s));
  clip-path: inset(var(--s));
  transition: 0.4s;
  cursor: pointer;
}

.border:hover, .item > a > img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--s);
  clip-path: inset(calc(-1 * var(--s) - var(--b)));
  background-size: 45% 45%;
  transition: linear 0.3s, background-size 0.3s 0.4s;
}

.img-display {
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation-name: show;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% cover 50%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
