@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&family=Work+Sans:wght@100;200&display=swap");

@import url("./landing.page.css");
@import url("./main.page.css");
@import url("./footer.page.css");

:root {
    font-size: 14px;
    --variable-x: 1rem;

    /*COLORES*/

    --color-main: #333;
    --color-text: rgba(64, 69, 82, 1);
    --color-sec: #5294e2;
    --color-ligth: #7c818c;
    --color-white: whitesmoke;

    /*FONTS*/
    --font-base: "Times New Roman", Times, serif;
    --font-custom: "Noto Sans JP", sans-serif;
    --font-custom-2: "Work Sans", sans-serif;
}

*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 400svh;
    background-color: var(--color-main);
    font-family: var(--font-custom-2);
    font-weight: 900;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
}

main {
    height: 200vh;
}

footer {
    height: 100svh;
    position: relative;
    bottom: 0;
}

main > div {
    height: calc(1 / 3 * 100%);

    text-align: center;
}

main > div > p:hover {
    color: var(--color-white);
}

main h1 {
    color: var(--color-ligth);
}
