main {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border: 1px solid red;
}

main > .beers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

main > section > :first-child {
  padding: 1rem;
  text-align: center;
  display: grid;
  height: 100%;
  align-content: center;
}

main > section:nth-child(2) {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 25%;
  grid-auto-flow: column;
}

main > section:nth-child(2) > .beer__container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;

  background: linear-gradient(to bottom left, var(--fg) 5%, var(--bg));
}

.beer__image {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.beer__image img {
  position: relative;
  left: -350px;
}

main > section:nth-child(2) > .beer__container .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: inline-block;
  width: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

main > section:nth-child(2) > .beer__container .btn:hover {
  background: rgba(255, 255, 255, 0.12);
}

.beer__container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 1rem;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.beer__container .content:hover {
  opacity: 1;
}

@media (600px< width <=1200px) {
  main > section:nth-child(2) {
    display: grid;
    gap: 1rem;

    grid-auto-columns: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: none;
  }
}

@media (width <=600px) {
  main > section:nth-child(2) {
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, minmax(300px, 50%));
  }

  .beer__container {
    height: 100%;
    width: 100%;
    position: relative;

    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 1rem;
    isolation: isolate;
  }

  .beer__container > .content {
    z-index: -1;
    color: var(--bg);
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .beer__container > .content:hover {
    opacity: 1;
  }

  .beer__container > .beer__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 1rem;
  }
}
