.smooth{
    background-color: #777;
    color:lightsteelblue
}
.error{
    background-color: #111;
    color:lightcoral
}
.especial{
    background-color: lightskyblue;
    color:lightslategray
}


